:root {
    --main-font: "Inter", sans-serif;
    --bold-font: "Roboto", sans-serif;
}

/* CURSOR */
#cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    /* border: 1px solid white; */
    border-radius: 50%;
    /* background: white; */
    mix-blend-mode: difference;
    pointer-events: none;
    transform: translate(-250%, -250%);
    z-index: 9999;
    transition: all 0.1s;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: none;
}

html {
    font-size: 62.5%;
    color: black;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    background: black;
    overflow-x : hidden;
    overflow-y: auto;
}

/* ===========================
====== HERO SECTION ======
============================*/

.hero {
    height: 100vh;
    min-height: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hero-heading {
    font-family: var(--main-font);
    margin-top: 1.5em;
    font-weight: 400;
    font-size: 4.2em;
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 4rem;
}

.hero-content {
    max-width: 100%;
    margin: 0 auto;
}

.gherve {
    display: inline-block;
    font-weight: 400;
    /* visibility: hidden; */
}

.headings {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p.hero-subhead {
    font-size: 2.2rem;
}

.section-heading {
    font-size: 6rem;
    text-align: center;
    /* padding-top: 2em; */
    color: white;
}

.keyword {
    font-size: 2rem;
}

.hero-keywords {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
    font-size: 2rem;
    font-family: var(--main-font);
    font-weight: 400;
}

.keyword-carousel {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    position: relative; /* Add this line */
    width: 100%; 
}

.keyword-carousel-inner {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 10%;
    width: max-content;
    .wort {
        display: inline-block;
        font-family: sans-serif;
        font-size: 20rem;
        color: white;
    }
}

@media (max-width: 768px) {
    .hero-keywords {
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .hero-heading {
        font-size: 3.25rem;
        gap: 2rem;
    }
}

/* ===========================
====== HERO SUB SECTION ======
============================*/

.hero-sub-section {
    height: 70vh;
    min-height: 450px;
    margin: 0 auto;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.col1 {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    .item-sub {
        transform: rotate(-90deg) translateY(-100%);
    }
}

.col2 {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .keyword-sub {
        font-size: 6rem;
        font-family: var(--main-font);
        font-weight: 400;
        display: flex;
        flex-direction: row;
        overflow: hidden;

        span {
            position: relative;
        }
    }

    .keyword-sub:nth-of-type(3) span .after {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        content: "";
        background: white;
    }
}

@media (max-width: 850px) {
    .hero-sub-section {
        flex-direction: column;
    }

    .col1 {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        gap: 10rem;
        .item-sub {
            transform: rotate(0deg) translateY(0%);
        }
    }

    .col2 {
        width: 100%;
        height: 80%;
        .keyword-sub {
            font-size: 4rem;
        }

        .keyword-sub:nth-of-type(3) span .after {
            transform: translateY(100%);
        }
    }
}

/**====================
=======  NAVBAR ======= 
===================*/

.navbar {
    width: 100%;
    background: #000;
    position: absolute;
    z-index: 1000;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
    /* overflow: hidden; */

    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 2.7rem 0;
        background: #000;
        top: 0;
        width: 93%;
        margin: 0 auto;
        gap: 3rem;
        list-style: none;
    }
}

.mobile-nav-toggle {
    display: none;
    position: absolute;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 4rem;
    top: 20px;
    right: 20px;
}

.navbar ul li {
    flex-shrink: 0;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    transition: color 0.3s;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: var(--main-font);
    font-weight: 400;
}

.navbar ul li a:hover {
    color: #007BFF;
}

.navbar.hide {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 850px) {
    .mobile-nav-toggle {
        display: block;
        z-index: 9999;
        aspect-ratio: 1;
    }

    .navbar[aria-expanded="true"] {
        height: 100%;
        overflow: hidden;
    }

    .navbar ul {
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        flex-direction: column;
        text-align: center;
        padding-top: 20vh;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(3rem);
        transform: translateX(100%);
        justify-content: flex-start;
        align-items: center;
        transition: transform 350ms ease-out;
    }

    .navbar ul[data-visible="true"] {
        transform: translateX(0);
    }

    .navbar ul li {
        width: 100%;
        text-align: center;
        transform: scaleY(1);
        margin: 1rem 0;
    }

    .navbar ul li a {
        font-size: 5rem;
        transform-origin: center center;
    }
}

/* ===========================
=== SECTION2: WHAT WE OFFER === 
============================*/

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-top: 120px;
    background-color: black;
}

.whatweoffer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
    text-align: center;
    padding: 20px;
}

.heading-offer {
    position: relative;
    font-size: 6rem;
    margin-bottom: 100px;
    letter-spacing: 2px;
    width: 100%;
    padding-bottom: 20px;
    font-family: var(--main-font);
    font-weight: 900;
}

.offer-container {
    width: 100%;
    position: relative; 
    display: flex;
    flex-direction: column;
    /* gap: 100px; */
}

.offer-container h1 {
    font-size: 3rem;
    margin: 0;
    padding: 20px 0 0 0;
    cursor: pointer;
    position: relative; 
    z-index: 1; 
}

.offer-item {
    position: relative;
    justify-content: center;
    height: 100px;
    align-items: center;
    display: flex;
    font-family: var(--main-font);
    font-weight: 400;
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
    h1, p {
        position: absolute;
    }
    p {
        font-size: 1.5rem;
        transform: translateX(100vw);
    }
}

.offer-item::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: white;
    z-index: 0; 
}

.offer-item::before {
    top: 0; 
}

.offer-container::after {
    bottom: 0;
}

@media (min-width: 1100px) {
    .offer-item {
        width: 100%;
    }

    .offer-container h1 {
        padding: 0 0 0 0;
    }
}

/** ==========================
* ==== SECTION 4: CONTACT =====
* ============================*/

.contact {
    height: 50vh;
    color: white;
    padding: 20px;
    margin: 0 auto;
}
  
.cta-content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}
  
.cta-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.cta-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
  
.cta-heading {
    font-size: 8rem; 
    font-family: var(--main-font);
    font-weight: 900; 
    margin: 0;
    line-height: 1.25; 
    margin-bottom: 2rem;
}
  
.cta-subheading {
    font-size: 2rem;
    font-family: var(--main-font);
    margin-bottom: 1rem;
}
  
.contact-card {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.contact-icon {
    height: 20px;
}

.cta-reachout {
    font-size: 6rem;
}

/** ==========================
* ==== SECTION 3: PLAYGROUND =====
* ============================*/

.section3 {
    min-height: 600px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-color: white;
    transform: translateX(-100%);
}

.heading-playground {
    font-size: 4rem;
    font-weight: bold;
    position: relative;
    padding: 0 100px;
    text-align: center;
}

.playground-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: background-color 0.3s ease-in;
}

.playground-button::after {
    content: "";
    position: absolute;
    right: -20px; /* Adjust based on the size of the triangle */
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent black;
    transform: translateY(-50%) translateX(200%) scale(4) rotate(70deg);
    transition: transform 0.3s ease;
}

.playground-button::before {
    content: "";
    position: absolute;
    left: -20px; /* Adjust based on the size of the triangle */
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent black;
    transform:  translateX(-100%) scale(4) rotate(50deg);
    transition: transform 0.3s ease;
}

.playground-button:hover {
    background-color: white;
    color: black;
}

.playground-button:hover::after {
    transform: translateX(-100%) scale(4) rotate(70deg) translateY(-50%);
}

.playground-button:hover::before {
    transform: translateX(-20%) scale(4) rotate(30deg) ;
}

@media (max-width: 850px) {
    .section3 {
        transform: translateX(0);
        background-color: black;
    }
}

/**=================
===== SECTION 5: PROJECTSS ====
 ===============***/

.latest-projects {
  background-color: black;
  color: white;
  padding: 50px 0;
}

.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.project-text {
  flex: 1;
  margin-right: 20px;
}

.project-text h2 {
  font-family: var(--bold-font);
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.project-text p {
  font-family: var(--main-font);
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}

.project-image {
  flex: 1;
}

.project-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .projects-container {
    flex-direction: column;
    text-align: center;
  }

  .project-text {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .project-text h2 {
    font-size: 3.5rem;
  }

  .project-text p {
    font-size: 1.8rem;
  }

  .project-image img {
    width: 100%;
  }
}

/** ==============
* ==== FOOTER ====
* ===============*/

footer {
    background: rgb(59, 58, 58);
}

footer .footer-content {
    background: rgb(59, 58, 58);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100px;
    position: relative;
    bottom: 0;
    width: 80%;
    padding: 2rem 0;

    div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        gap: 2rem;

        a {
            color: white;
            text-decoration: none;
            font-size: 1.5rem;
            transition: color 0.3s;
        }
    }

    .footer-logo {
        align-items: flex-start;
        .title {
            font-size: 2.5rem;
            font-weight: bold;
            color: #fff;
        }

        .email {
            font-size: 1.5rem;
            color: #fff;
        }
    }
}

@media (max-width: 768px) {
    .keyword-carousel {
        margin-top: 50px;
    }
}

@media (max-width: 1100px) {
    .offer-item {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        text-align: left;

        h1, p {
            position: relative;
        }
        p {
            transform: translateX(0);
        }
    }
}