@font-face {
    font-family: 'impact';
    src: url('./impact.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
    background-color: black;
    height: 100%;
    width: 100%;
}

.wrapper {
    position: relative;
}

.playground {
    color: #fff;
}

.heading1 .playground:first-of-type { /* P */
    transform: rotate(27deg);
}

.heading1 .playground:nth-of-type(2) { /* L */
    transform: rotate(-15deg) translateY(-50px);
}

.heading1 .playground:nth-of-type(3) { /* A */
    transform: rotate(-31deg) translateY(-50px);
}

.heading1 .playground:nth-of-type(4) { /* Y */
    transform: rotate(15deg) translateY(-50px);
}

.heading2 .playground:nth-of-type(1) { /* G */
    transform: rotate(21deg) translateX(-50px);
}

.heading2 .playground:nth-of-type(2) { /* R */
    transform: rotate(-21deg) translateY(75px);
}

.heading2 .playground:nth-of-type(3) { /* O */
    transform: rotate(18deg);
}

.heading2 .playground:nth-of-type(4) { /* U */
    transform: rotate(-18deg) translateY(85px);
}

.heading2 .playground:nth-of-type(5) { /* N */
    transform: rotate(-16deg);
}

.heading2 .playground:last-of-type { /* D */
    transform: rotate(22deg) translateY(80px);
}

.heading {
    display: flex;
    flex-direction: row;
    margin: 0;
    font-size: 12em;
    font-family: 'impact';
    font-weight: bold;
    justify-content: space-between;
}

.circle {
    position: absolute;
    top: -250px;
    left: -250px;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
}

.secondary-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: white;
    border: 2px solid white;
    padding: 20px;
    opacity: 0;
}

.rods {
    position: absolute;
    width: 100%;
    height: 100%;
}

@media (max-width: 1200px) {
    .main-text {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50%;
        height: auto;
        width: 100vw;
        height: 100vh;
    }

    .heading {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3em;
    }

    .secondary-text {
        font-size: 1em;
    }

    .heading1 .playground:first-of-type { /* P */
        transform: rotate(27deg);
    }
    
    .heading1 .playground:nth-of-type(2) { /* L */
        transform: rotate(-15deg);
    }
    
    .heading1 .playground:nth-of-type(3) { /* A */
        transform: rotate(-31deg);
    }
    
    .heading1 .playground:nth-of-type(4) { /* Y */
        transform: rotate(15deg);
    }
    
    .heading2 .playground:nth-of-type(1) { /* G */
        transform: rotate(21deg);
    }
    
    .heading2 .playground:nth-of-type(2) { /* R */
        transform: rotate(-21deg);
    }
    
    .heading2 .playground:nth-of-type(3) { /* O */
        transform: rotate(18deg);
    }
    
    .heading2 .playground:nth-of-type(4) { /* U */
        transform: rotate(-18deg);
    }
    
    .heading2 .playground:nth-of-type(5) { /* N */
        transform: rotate(-16deg);
    }
    
    .heading2 .playground:last-of-type { /* D */
        transform: rotate(22deg);
    }
}

@media (max-width :600px) {
    .secondary-text {
        padding: 15px;
        font-size: 0.8rem;
    }
}

.infinite-scroll-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.infinite-scroll-content {
    width: 200vw;
    height: 180vh;
    position: relative;
    display: block;


    .item1 {
        position: absolute;
        top: 200px;
        left: 200px;
    }
    
    .item2 {
        position: absolute;
        top: 200px;
        right: 200px;
    }
    
    .item3 {
        position: absolute;
        bottom: 200px;
        left: 200px;
    }
    
    .item4 {
        position: absolute;
        bottom: 200px;
        right: 200px;
    }
    
    .item5 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .item6 {
        position: absolute;
        top: 30%;
        right: 30%;
        transform: translate(30%, -30%);
    }
    
    .item7 {
        position: absolute;
        bottom: 30%;
        left: 30%;
        transform: translate(-30%, 30%);
    }
    
    .item8 {
        position: absolute;
        bottom: 30%;
        right: 30%;
        transform: translate(30%, 30%);
    }
    
    .item9 {
        position: absolute;
        top: 30%;
        left: 30%;
        transform: translate(-30%, -30%);
    }
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    border: 1px solid white;
    width: 300px;
    height: 300px;
    background: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}



.container {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 2rem;
    .control {
        position: absolute;
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
        color: white;
        bottom: -54px;
        left: 41%;
        border-bottom: 1px solid white;
        border-left: 1px solid white;
        border-right: 1px solid white;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
}

.box {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.2em;

}

.pacman {
    z-index: 2;
    circle {
        fill: #fff;
    }
    polygon {
        fill: black;
    }    
}

.myPacman {
    position: absolute;
    left: 0;
}

.rect-loader .rectangle {
    width: 140px;
    height: 60px;
    background: white;
    position: relative;
    overflow: hidden;
}

.color-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(8, 8, 8, 0.74);
    transform: translateY(100%);
}

.revolution .sub-container {
    display: flex;
    flex-direction: row;
}

.container-mobile {
    visibility: hidden;
}

.home-button {
    position: absolute;
    top: 50px;
    right: 50px;
    background: gray;
    padding: 29px 20px;
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;
    /* overflow: hidden; */
    a {
        text-decoration: none;
        color: white;
    }
}

.circular-border {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    pointer-events: none;
}

.segment {
    width: 50%;
    height: 50%;
    border: 2px solid transparent;
    border-top-color: #fff;
    border-radius: 50%;
    position: absolute;
    animation: rotate 2s linear infinite;
}

.segment:nth-child(2) {
    animation-delay: -1.5s;
}
.segment:nth-child(3) {
    animation-delay: -1s;
}
.segment:nth-child(4) {
    animation-delay: -0.5s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1100px) {
    .home-button {
        top: 10px;
        right:10px;
    }

    .item {
        position: relative;
    }

    .infinite-scroll-container {
        display: none;
    }

    .container-mobile {
        position: relative;
        /* visibility: visible; */
        display: grid;
        grid-gap: 150px;
        align-items: center;
        height: 100%;
        overflow-y: scroll;
        justify-items: center;
        /* grid-template-areas: 
            "one two"
            "three four"
            "five six"
            "seven eight"
            "nine nine"; */
        grid-template-columns: 1fr;
        grid-template-areas: 
            "one"
            "two"
            "three"
            "four"
            "five"
            "six"
            "seven"
            "eight"
            "nine";

        .item1 {
            grid-area: one;
        }
        .item2 {
            grid-area: two;
        }
        .item3 {
            grid-area: three;
        }
        .item4 {
            grid-area: four;
        }
        .item5 {
            grid-area: five;
        }
        .item6 {
            grid-area: six;
        }
        .item7 {
            grid-area: seven;
        }
        .item8 {
            grid-area: eight;
        }
        .item9 {
            grid-area: nine;
            overflow: visible;
        }
    }
}

@media (max-width: 768px) {
    .container-mobile {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "one"
            "two"
            "three"
            "four"
            "five"
            "six"
            "seven"
            "eight"
            "nine";
    }
}